[core]
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	editor = nvim
	ignorecase = true
[alias]
	a = add
	aa = add --all
	br = branch
	branch-name = symbolic-ref --short HEAD
	co = checkout --recurse-submodules
	ci = commit -v
	cia = commit --amend
	cl = clone --recurse-submodules
	cm = commit -m
	d = difftool
	fe = fetch --jobs=4 --all --recurse-submodules=on-demand
	fp-dev = !git push origin +`git-branch-name`:develop
	is-git = !git rev-parse --show-toplevel 2>/dev/null >/dev/null
	l = log --all --graph --abbrev-commit --date=local --date=iso-strict --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	merge-dev = ! branch=$(git branch-name) && git fe && git co develop && git pull && git merge $branch && git ci
	p = ! git push && git sus
	pu = up
	pullreq = ! hub pull-request -m `git-branch-name` -b master
	rb = rebase
	st = status
	su = submodule update --init --recursive
	sub = submodule
	sup = ! git stash && git up && git stash pop
	sus = ! git br --set-upstream-to=origin/`git-branch-name` `git-branch-name`
	u = ! git fe && git rb && git su && git sus
	up = ! git u && git p
	wip = ! git commit -am 'WIP :fire: [skip ci]' && git u && git p
[init]
	templatedir = ~/.git-templates
[help]
	autocorrect = 0
[status]
	submodulesummary = 1
[push]
	default = current
	followTags = true
[difftool]
	prompt = false
	tool = vimdiff
[difftool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	autostash = true
[mergetool]
	prompt = false
	conflictstyle = diff3
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/secret/.gitconfig
[filesystem "AdoptOpenJDK|1.8.0_242|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
