*.ai   binary
*.dds  binary
*.doc  binary
*.docx binary
*.dwg  binary
*.eot  binary
*.eps  binary
*.gif  binary
*.gz   binary
*.ico  binary
*.idml binary
*.indd binary
*.jar  binary
*.jpg  binary
*.jpeg binary
*.pdf  binary
*.png  binary
*.psd  binary
*.rar  binary
*.swf  binary
*.tga  binary
*.tgz  binary
*.tif  binary
*.ttf  binary
*.webm binary
*.xls  binary
*.xlsx binary
*.zip  binary

*.cmd  eol=crlf
