[include]
	path = ~/secret/.gitconfig
[core]
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	editor = $EDITOR
	pager = less -R
[help]
	format = man
[alias] #TODO move all shell commands to own files
	aa = add --all .
	au = add --update
	br = branch
	branch-name = symbolic-ref --short HEAD
	ci = commit --verbose
	cia = commit --amend
	cl = clone --recurse-submodules
	cm = commit --message
	co = checkout
	com = ! git co `git-default-branch` && git u && git prune-merged
	d = difftool
	fa = fetch --all
	fp = push --force --verbose --progress
	fp-dev = ! git push origin +`git branch-name`:develop
	is-repo = ! git rev-parse --show-toplevel 2>/dev/null >/dev/null
	l = log --all --graph --abbrev-commit --date=local --date=iso-strict --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	nuke = ! git reset . && git checkout . && git clean -fd .
	prune-merged = gone -d
	pu = up
	pullreq = ! hub pull-request -m `git branch-name` -b `git-default-branch`
	rb = rebase
	rbi = rebase --interactive --rebase-merges
	root = rev-parse --show-toplevel
	shallow = clone --depth 1 --recurse-submodules --shallow-submodules --no-tags
	st = status
	su = submodule update --init --recursive
	sub = submodule
	sup = ! git stash && git up && git stash pop
[init]
	templatedir = ~/.git-templates
	defaultBranch = main
[fetch]
	parallel = 0
	prune = true
	pruneTags = true
	recurseSubmodules = on-demand
[push]
	default = current
	followTags = false
[pull]
	rebase = false
[submodule]
	fetchJobs = 0
[difftool]
	prompt = false
	tool = vimdiff
[difftool "vimdiff"]
	cmd = vim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	autostash = true
[mergetool]
	prompt = false
	conflictstyle = diff3
	keepBackup = false
[mergetool "vimdiff"]
	cmd = vim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filesystem "AdoptOpenJDK|1.8.0_242|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gui]
	pruneDuringFetch = true
[trace2]
	eventTarget = af_unix:/Users/adejager/.gittrace/trace.sock
	eventBrief = true
	eventNesting = 1
	configparams = custom.metacommands
[lfs]
	concurrenttransfers = 10
