[include]
	path = ~/secret/.gitconfig
[core]
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	editor = nvim
[alias]
	#TODO get default branch (don't assume master)
	aa = add --all
	au = add --update
	branch-name = symbolic-ref --short HEAD
	ci = commit -v
	cia = commit --amend
	cl = clone --recurse-submodules
	co = checkout
	d = difftool
	fe = fetch --all
	fp = push --force
	fp-dev = !git push origin +$(git-branch-name):develop
	is-git = !git rev-parse --show-toplevel 2>/dev/null >/dev/null
	mm = ! git fe && git merge origin/master
	p = ! git push && git sus
	prune-merged = gone -d
	pu = up
	pullreq = ! hub pull-request -m `git-branch-name` -b master
	rb = rebase
	rbi = rebase --interactive --rebase-merges
	st = status-recursive
	su = submodule update --init --recursive
	sub = submodule
	sup = ! git stash && git up && git stash pop
	sus = ! git br --set-upstream-to=origin/`git-branch-name` `git-branch-name`
	u = ! git fe && git rb && git su && git sus
	um = ! git fe && git rebase origin/master
	ubs = !git fe && cd build-scripts && git cor master && git rebase origin/master && cd ..
	up = ! git u && git p
	wip = ! git fire && git u && git p
[init]
	templatedir = ~/.git-templates
[fetch]
	parallel = 0
	recurseSubmodules = on-demand
[push]
	default = current
	followTags = true
[pull]
	rebase = false
[submodule]
	fetchJobs = 0
[difftool]
	prompt = false
	tool = vimdiff
[difftool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = vimdiff
	conflictstyle = diff3
[rebase]
	autostash = true
[mergetool]
	prompt = false
	conflictstyle = diff3
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c 'wincmd J'
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filesystem "AdoptOpenJDK|1.8.0_242|/dev/disk1s1"]
	timestampResolution = 1001 milliseconds
	minRacyThreshold = 0 nanoseconds
