set ignorecase
set incsearch
set number
set relativenumber
set ruler
set showcmd
set showmatch
set smartcase
set surround
set noideamarks
sethandler <C-C> a:ide
sethandler <C-F> a:ide
sethandler <C-P> a:ide
sethandler <C-S> a:ide
sethandler <C-V> a:ide
sethandler <C-W> a:vim
source ~/.vim/keys.vim
