awscli 2.22.0
dotnet-core 9.0.100
flutter 3.24.5-stable
java corretto-23.0.1.8.1
nodejs 23.2.0
python 3.13.0t
ruby 3.3.6
terraform 1.5.5
deno 2.0.6
pipx 1.3.3
rust 1.82.0
golang 1.23.3
lua 5.4.6
lua-language-server 3.7.4
haskell 9.8.2
