adal==1.2.7
antlr4-python3-runtime==4.10
applicationinsights==0.11.10
argcomplete==2.0.0
attrs==21.4.0
azure-appconfiguration==1.3.0
azure-batch==12.0.0
azure-cli==2.37.0
azure-cli-core==2.37.0
azure-cli-telemetry==1.0.6
azure-common==1.1.28
azure-core==1.24.1
azure-cosmos==4.3.0
azure-data-tables==12.4.0
azure-datalake-store==0.0.52
azure-graphrbac==0.61.1
azure-identity==1.10.0
azure-keyvault==4.2.0
azure-keyvault-administration==4.1.0
azure-keyvault-certificates==4.4.0
azure-keyvault-keys==4.5.1
azure-keyvault-secrets==4.4.0
azure-loganalytics==0.1.1
azure-mgmt-advisor==9.0.0
azure-mgmt-apimanagement==3.0.0
azure-mgmt-appconfiguration==2.1.0
azure-mgmt-applicationinsights==3.1.0
azure-mgmt-authorization==2.0.0
azure-mgmt-batch==16.2.0
azure-mgmt-batchai==7.0.0b1
azure-mgmt-billing==6.0.0
azure-mgmt-botservice==1.0.0
azure-mgmt-cdn==12.0.0
azure-mgmt-cognitiveservices==13.2.0
azure-mgmt-compute==27.1.0
azure-mgmt-consumption==9.0.0
azure-mgmt-containerinstance==9.2.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-containerservice==20.0.0
azure-mgmt-core==1.3.1
azure-mgmt-cosmosdb==7.0.0b2
azure-mgmt-databoxedge==1.0.0
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-datamigration==10.0.0
azure-mgmt-deploymentmanager==1.0.0
azure-mgmt-devtestlabs==9.0.0
azure-mgmt-dns==8.0.0
azure-mgmt-eventgrid==10.1.0
azure-mgmt-eventhub==10.0.0
azure-mgmt-extendedlocation==1.0.0
azure-mgmt-hdinsight==9.0.0
azure-mgmt-imagebuilder==1.1.0
azure-mgmt-iotcentral==10.0.0b1
azure-mgmt-iothub==2.2.0
azure-mgmt-iothubprovisioningservices==1.1.0
azure-mgmt-keyvault==10.0.0
azure-mgmt-kusto==2.2.0
azure-mgmt-loganalytics==13.0.0b4
azure-mgmt-managedservices==6.0.0
azure-mgmt-managementgroups==1.0.0
azure-mgmt-maps==2.0.0
azure-mgmt-marketplaceordering==1.1.0
azure-mgmt-media==9.0.0
azure-mgmt-monitor==3.1.0
azure-mgmt-msi==6.0.1
azure-mgmt-netapp==8.0.0
azure-mgmt-network==20.0.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-policyinsights==1.1.0b2
azure-mgmt-privatedns==1.0.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-recoveryservices==2.0.0
azure-mgmt-recoveryservicesbackup==5.0.0
azure-mgmt-redhatopenshift==1.1.0
azure-mgmt-redis==13.1.0
azure-mgmt-relay==1.1.0
azure-mgmt-reservations==2.0.0
azure-mgmt-resource==21.1.0
azure-mgmt-search==8.0.0
azure-mgmt-security==2.0.0b1
azure-mgmt-servicebus==7.1.0
azure-mgmt-servicefabric==2.0.0
azure-mgmt-servicefabricmanagedclusters==1.0.0
azure-mgmt-servicelinker==1.1.0
azure-mgmt-signalr==1.1.0
azure-mgmt-sql==4.0.0b1
azure-mgmt-sqlvirtualmachine==1.0.0b2
azure-mgmt-storage==20.0.0
azure-mgmt-synapse==2.1.0b2
azure-mgmt-trafficmanager==1.0.0
azure-mgmt-web==6.1.0
azure-multiapi-storage==0.9.0
azure-nspkg==3.0.2
azure-storage-common==2.1.0
azure-synapse-accesscontrol==0.7.0
azure-synapse-artifacts==0.13.0
azure-synapse-managedprivateendpoints==0.4.0
azure-synapse-spark==0.7.0
bcrypt==3.2.2
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
cryptography==37.0.2
Deprecated==1.2.13
distro==1.7.0
fabric==2.7.0
humanfriendly==10.0
idna==3.3
invoke==1.7.1
isodate==0.6.1
javaproperties==0.8.1
jmespath==1.0.1
jsondiff==2.0.0
jsonschema==4.6.0
knack==0.9.0
msal==1.18.0
msal-extensions==1.0.0
msrest==0.7.1
msrestazure==0.6.4
oauthlib==3.2.0
packaging==21.3
paramiko==2.11.0
pathlib2==2.3.7.post1
pkginfo==1.8.3
portalocker==2.4.0
psutil==5.9.1
pycparser==2.21
PyGithub==1.55
Pygments==2.12.0
PyJWT==2.4.0
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.28.0
requests-oauthlib==1.3.1
scp==0.14.4
semver==2.13.0
six==1.16.0
sshtunnel==0.4.0
tabulate==0.8.9
typing_extensions==4.2.0
urllib3==1.26.9
websocket-client==1.3.2
wrapt==1.14.1
xmltodict==0.13.0
