aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
boto3==1.18.29
botocore==1.21.29
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
configobj==5.0.6
contextlib2==21.6.0
dateparser==1.0.0
dnspython==2.1.0
elasticsearch==7.14.0
elasticsearch-dsl==7.4.0
expiringdict==1.2.1
geoip2==4.2.0
greenlet==1.1.1
html2text==2020.1.16
humanize==3.11.0
idna==3.2
IMAPClient==2.2.0
jmespath==0.10.0
kafka-python==2.0.2
lxml==4.6.3
mail-parser==3.15.0
mailsuite==1.6.1
maxminddb==2.0.3
multidict==5.1.0
packaging==21.0
parsedmarc==7.0.1
pipdeptree==2.1.0
prompt-toolkit==3.0.20
psutil==5.8.0
publicsuffix2==2.20191221
pyasn1==0.4.8
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pywatchman==1.4.1
PyYAML==5.4.1
regex==2021.8.21
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
schema==0.7.4
simplejson==3.17.5
six==1.16.0
SQLAlchemy==1.4.23
SQLAlchemy-Utils==0.37.8
tqdm==4.62.2
typing-extensions==3.10.0.0
tzlocal==3.0
urllib3==1.26.6
wcwidth==0.2.5
xmltodict==0.12.0
yarl==1.6.3
