colorama==0.4.4
configobj==5.0.6
jmespath==0.10.0
packaging==20.4
pipdeptree==1.0.0
prompt-toolkit==3.0.8
pyasn1==0.4.8
Pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==4.6
six==1.15.0
urllib3==1.25.11
wcwidth==0.2.5
